.table {
  border-spacing: 0;
  width: 100%;
  margin-bottom: 2rem;
}

.table td,
.table th {
  border-bottom: 0.1rem solid var(--silver);
  padding: 1.2rem 1.5rem;
  text-align: left;
}

.table th:first-child {
  padding-left: 0;
}

.table th:last-child {
  padding-right: 0;
}

.table th.actions a {
  padding: 1rem;
}
