.body {
  background-color: var(--clouds);
}

.site-main {
  max-width: 40em;
  background-color: white;
  box-shadow: 0 0 1px rgba(0,0,0,0.25), 0 1px 3px rgba(0,0,0,0.1);
  padding: 2rem;

  margin-left: auto;
  margin-right: auto;
}

.page-title {
  text-align: center;
}

.page-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}